{{!< default}} 
<header class="gallery-header">
    <h1>{{ @site.title}}</h1>
    {{!-- <h1>{{ @site.description}}</h1> --}}
    </header>
    <main>
        <figure>
            <div class="gallery-main">
                {{#foreach posts}}
                <figure>
                    <span>
                        <a href="{{img_url feature_image}}">
                            <div class="icon-design">
                                {{!-- {{> "icons/maximize"}} --}}
                            </div>
                        </a>
                        <div style="position: relative;">
                            <a href="{{url}}">
                                <img src={{feature_image}} alt={{feature_image_alt}}>
                                <div class="hovereffect" style="">
                                    <div>
                                        <h2
                                            style="font-size: 15px; text-decoration: none;  color: rgb(255, 255, 255);padding-left: 12px ">
                                            {{title}}</h2>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </span>
                </figure>
                {{/foreach}}
            </div>
        </figure>
    </main>